@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root{
    --marine: #242C47;
    --vert: #00FAA8;
    --turquoise: #4ED3C2;
    --gris: #979797;
    --code-font: 'Fira Code', monospace;
    --title-fonts: 'Noto Sans', sans-serif;
    --text-fonts: 'Josefin Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
body{
    background: var(--marine);
    margin: 0;
    padding: 0;
    height: 100%;
}

header{
    margin-left: 2%;
    padding:2%;
    color: var(--vert);
    font-family: var(--code-font);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25%;
    padding: 70px;
}

header h3{
    font-family: var(--title-fonts);
    color: rgb(172, 172, 172);
}

header h4{
    font-family: var(--title-fonts);
    color: rgb(136, 136, 136);
}

section{
    display: flex;
    align-items: center;
    height: 80%;
    box-sizing: border-box;
    
}

.bar i{
    color: white;
}
.transition{
    box-sizing: content-box;
    height: 100%;
    width: 3px;
    background: white;
    margin-left:6px;
    position:static;
}
.bar{
    padding: 2%;
}
.fa-circle{
    color: white;
}
.green{
    color: var(--vert);
}
.cyan{
    color: var(--turquoise);
}
.white{
    color: white;
}
.gris{
    color: var(--gris);
}
.code{
    font-family: var(--code-font);
}
.title{
    font-family: var(--title-fonts);
}
.text{
    font-family: var(--text-fonts);
    font-size: large;
}

.pad{
    padding: 30px;
    background:#292f42;
    border: rgb(155, 155, 155) 2px solid;
    border-radius: 20px;
    margin-left: 3%;
    margin-right: 30%;
    margin-top: 20px;
}
.pad ul {
    padding:5px;
    list-style-type: none;
}
.spanner1{
    display: flex;
    flex-direction: row;
    font-size: large;
}

.spanner{
    display: flex;
    flex-direction: row;
    font-size: large;
}

.nav-exp{
    display: flex;
    flex-direction: row;
    margin-left: 70%;
    margin-right: 2%;
}
.nav-exp h4{
    margin-right: 5%;
    width: 70%;
    height: 30%;
}
.spacer{
    padding: 5%;
}
.hidden{
    display: none;
}
.active{
    display: initial;
}
.active p, .hidden p{
    width: 75%;
    margin-left: 20%;
}
.card{
    padding: 20px;
    border: #00FAA8 2px solid;
    border-radius: 10px;
    background: var(--marine);
    width: 100%;
}

.repo{
    margin: 20px;
    padding: 20px;
    border: #00FAA8 2px solid;
    border-radius: 10px;
    background: var(--marine);
    width: 100%;
    color: white;
    max-height: 200px;
}

.pdd{
    padding: 10px;
}
#projets{
    height: 60%;
}
.reposec{
    height: 60%;
}
@media (max-width: 700px) {
    section{
        height: 60%;
    }
    #presentation{
        height: 80%;
    }
    #projets{
        height: 100%;
    }
    .spanner1{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 40%;
    }
}
@media screen and (max-width: 700px) {
    .spanner{
        display: flex;
        flex-direction: column;
    }
    .reposec{
        height: 200%;
    }
}
@media only screen and (hover: none) and (pointer: coarse) and (max-width: 700px){
    #presentation{
        height: 90%;
    }
    .text{
        font-size: 5vw;
    }
    .code{
        font-size: 5vw;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 7.5vw
    }
    #projets{
        height: 120%;
    }
    section{
        height: 60%;
    }
    .spanner1{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 40%;
    }
    .spanner{
        display: flex;
        flex-direction: column;
    }
    .reposec{
        height: 100%;
    }
    header{
        margin-right: 2%;
        padding-bottom:10%;
    }
    .repo{
        width: 85%;
        padding-bottom: 25%;
    }
    .active p, .hidden p{
        margin-left: 5%;
    }
    .nav-exp{
        margin-right: 20%;
        margin-left: 50%;
    }
    i {
        font-size: 5vw;
    }
    .fa-circle-dot{
        font-size: 3vw;
    }
    .transition{
        margin-left: 10px;
    }
}
