@font-face {
    font-family: 'Axp2a';
    src:  url('../fonts/BlenderPro-Bold.woff2') format('woff2')
}

@font-face {
    font-family: 'Axp3a';
    src:  url('../fonts/BlenderPro-Book.woff2') format('woff2')
}



@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

:root{
    --green: #008F11;
    --dark-green: #003B00;
    --flash-green: #00FF41;
    --red: #c22e2e;
    --title: 'Axp2a', sans-serif;
    --text: 'Axp3a', sans-serif;
    --code: 'Fira Code', monospace;
}

body{
    margin: 0;
    background: rgb(0, 0, 0);
}


#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:80vh;
}

#header div{
    margin: 5%;
}
.container{
    margin-left: 15%;
    width: 40%;
}

h1, h2, h3, h4 {
    font-family: var(--title);
}

h5, h6, p {
    font-family: var(--title);
}
.presentation{
    border: var(--green) 2px solid; 
    margin: 10%;
}
.presentation{
    margin-left: 2%;
    list-style-type:decimal-leading-zero;
}
.presentation ul{
    margin-left: 2%;
    list-style-type:decimal-leading-zero;
}

.pz{
    display: flex;
    justify-content:center;
    align-items:center;
    border: var(--flash-green) 1px solid; 
    width: 25%;
    margin: 2%;

}
.presentation ul li{
    font-size: 20px;
    padding: 2px;
}

.banner{
    display: flex;
    flex-direction: row;
}
.hack{
    margin-left: 25%;
    height:20vh
}
@media  screen and (max-width: 850px) {
    #header{
        flex-direction: column-reverse;
    }
}

@media only screen and (hover: none) and (pointer: coarse){
    #header{
        flex-direction: column-reverse;
    }
    .banner{
        flex-direction: column;
    }
}
.ptcl{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height:80vh
}

.particles-js-canvas-el{
    position: absolute;
}

.round{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 40vh;
    height: 40vh;
    border: 2px solid #00FF41;
    border-radius:50%;
    background:black;
    z-index: 99;
    font-size: 20px;

}
.round h5{
    margin: 7.5%;
}